<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<link href="/css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<style>
	table {
	border-collapse: collapse;
	}
	
	table, th, td {
	border:1px solid black;}
</style>
</head>
<body>
<p>Dear <span th:text="${user.firstName}"></span>,</p>
<br/> 
 
<hr/>


<h3><strong>Order Summary</strong></h3>


<br/>
 
</body>
</html>